<div class="creation-completed-notification">
  <div class="creation-completed-notification__container">
    <div class="creation-completed-notification__header">
      <div class="creation-completed-notification__close-btn">
        <span class="creation-completed-notification__icon creation-completed-notification__icon-close"></span>
      </div>
    </div>
    <div class="creation-completed-notification__body">
      <h2>Leads created</h2>
      <div class="creation-completed-notification__btn-container">
        <button class="creation-completed-notification__btn">Continue with crm</button>
      </div>
    </div>
  </div>
</div>