<div class="mass-select-notification-modal">
  <div class="mass-select-notification-modal__container">
    <div class="mass-select-notification-modal__header">
      <div class="mass-select-notification-modal__close-btn">
        <span class="mass-select-notification-modal__icon mass-select-notification-modal__icon-close"></span>
      </div>
    </div>
    <div class="mass-select-notification-modal__body">
      <h2>Do you want to apply the action to all deals in the filter or only to the current page?</h2>
      <div class="mass-select-notification-modal__btn-container">
        <button class="mass-select-notification-modal__btn" id="__only_for_current_page__">
          <span class="mass-select-notification-modal__btn-text">Current page only</span>
        </button>
        <button class="mass-select-notification-modal__btn mass-select-notification-modal__btn--light" id="__for_active_filter__">
          <span class="mass-select-notification-modal__btn-text">For filtered leads</span>
        </button>
      </div>
    </div>
  </div>
</div>